@font-face {
    font-family: 'sonsie oneregular';
    src: url('../fonts/sonsieone-regular-webfont.eot');
    src: url('../fonts/sonsieone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sonsieone-regular-webfont.woff2') format('woff2'),
         url('../fonts/sonsieone-regular-webfont.woff') format('woff'),
         url('../fonts/sonsieone-regular-webfont.ttf') format('truetype'),
         url('../fonts/sonsieone-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#header {
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;

}
header ul li a {
    color: #333;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
}
header ul li a:hover {

}
#logo {
    font-family: sonsie oneregular;
    font-size: 25px;
    margin-top: 8px;
}

#logo a:hover {
    text-decoration: none;

}
.slider {
    height: 500px;
    position: relative;
}
.slider:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../img/1.jpg) center top no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.slider *{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}
.slider:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    /* background: -moz-linear-gradient(90deg, #000000 15%, #111 15%, #111 40%, #222 40%);
    background: -webkit-gradient(linear, 90deg, color-stop(15%, #000000), color-stop(15%, #111), color-stop(40%, #111), color-stop(40%, #222));
    background: -webkit-linear-gradient(90deg, #000000 15%, #111 15%, #111 40%, #222 40%);
    background: -o-linear-gradient(90deg, #000000 15%, #111 15%, #111 40%, #222 40%);
    background: -ms-linear-gradient(90deg, #000000 15%, #111 15%, #111 40%, #222 40%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#222', GradientType='0');
    background: linear-gradient(0deg, #000000 15%, #111 15%, #111 40%, #222 40%); */
    top: 0;
    opacity: 0.7;
    z-index: 0;

}
.slider h1 {
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;

}
.slider .title{
    position: absolute;
    top: 150px;
    margin: auto;
    left: 10%;
    right: 10%;
    z-index: 3;

}
.slider h1 {
    font-size: 55px;
    text-align: center;
}

.home-page .slider h1 {
    display: inline-block;;;
}
.home-page .slider .part2 {
    font-size: 30px;
}
.slider .part2 {
    font-size: 25px;
    display: block;
    text-align: center;
}

.home-page .slider .part2 {
    text-indent: 20px;
}
.slider h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #636363;;
}
.home-page .slider h2 {
    text-indent: 20px;
}
.slider .btns {
    position: absolute;
    left: 10%;
    right: 20%;
    top: 400px;
    text-align: right;
    z-index: 3;

}
.btn-default {
    background: none!important;
    text-shadow: none!important;
    border-radius: 0!important;
    border-width: 2px!important;
    border-style: solid!important;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
    border-color: #333!important;
    padding-left: 30px!important;
    padding-right: 30px!important;
    -webkit-transition: all 300ms ease;/* Safari 3.2+, Chrome */
    -moz-transition: all 300ms ease;/* Firefox 4-15 */
    -o-transition: all 300ms ease;/* Opera 10.5-12.00 */
    transition: all 300ms ease;/* Firefox 16+, Opera 12.50+ */
}

.btn-inverse .btn-default{
    border-color: #FFF!important;
    color: #FFF!important;
}

.network a {
    font-size: 19px;

}
.btn:hover {
    background-color: #01bdf2!important;
    border-color: #FFF!important;
    color: #FFF!important;

}
.btns .btn {
    margin-right: 1%;

}
section.container {
    text-align: center;

}

section.container h1{
    font-family: 'Ubuntu', sans-serif;
    color: #303030;
    font-size: 37px;
    font-weight: bold;
    margin: 50px auto;;
}

section.container article{
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    text-align: justify;
}
.about article{

}

.sep {
    text-align: center;
    position: relative;
    background-color: #FFF;
    margin-top: 25px;
}
.sep .btn{
    position: relative;
    background-color: #FFF!important;
    z-index: 1;
    text-transform: uppercase;

}
.sep:before ,.sep:after{
    content: "";
    background-color: #AFAFAF;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 30%;
    z-index: 0;
}

.sep:before{
    left: 0;
}
.sep:after{
    right: 0;
}

.skill-desc {
    font-weight: normal;

}
section.container article h2 {
    color: #676464;
    font-size: 22px;

}
.form-control {
    border-radius: 0!important;
    height: 45px!important;
    box-shadow: none!important;
    background: #fafafa!important;
    border: 1px solid #ccc!important;
    padding: 10px 12px!important;

}
.form-control:focus {
    border-color: #66afe9!important;
    background: none!important;
}
.row>.form-group {
    margin-left: 0!important;
    margin-right: 0!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
}
.row>.form-group:first-child{
    padding-left: 0!important;
}
.row>.form-group:last-child{
    padding-right: 0!important;
}

.sep .btn:before, .sep .btn:after{
    content: "";
    background-color: #FFFFFF;
    width: 30%;
    height: 1px;
    position: absolute;
    top: 0px;
    z-index: 9;
    bottom: 0;
    margin: auto;

}

.sep .btn:before {
    left: calc(-30% - 2px);
}
.sep .btn:after {
    right: calc(-30% - 2px);
}
.sep .btn:hover {
    background-color: #01bdf2!important;
}
textarea.form-control {
    height: auto!important;

}
#footer {
    background-color: #333;
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    padding: 60px 0;

}

#footer .footer-menu .navbar-nav, #footer .footer-network .navbar-nav {
    margin: 0 auto;
    float: none!important;
    text-align: center;

}
.lang-fr #footer .footer-menu .navbar-nav {
    max-width: 380px;
}

.lang-en #footer .footer-menu .navbar-nav {
    max-width: 300px;
}
#footer .footer-network .navbar-nav {
    width: 125px;

}

#footer li a {
    color: #B9B9B9;
    text-shadow: none;

}

.copyright a {
    color: #6B6B6B;
}
#footer li a:hover {
    color: #FFF;

}
.navbar-default {
    background: #FFF!important;
    box-shadow: none!important;
    border-bottom: 3px solid #333333!important;
    border-radius: 0!important;

}
.navbar-default .navbar-toggle {
    background-color: #FFF!important;
    border-color: #01BDF2!important;

}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #01BDF2!important;

}
#menu ul li {
    text-align: center;

}
@media (max-width: 768px) {
    .home-page .slider h1{
        text-align: center;
        font-size: 8.4vw;
    }
    .slider h1 .and{
        display: block;;

    }
    .home-page .slider .title{
        text-align: center;
        top: 33px;

    }
    .slider .part2{
        text-indent: 0;
    }
    .slider h2{
        text-indent: 0;
        font-size: 4.58vw;

    }

    .slider .btns .btn {
        margin-bottom: 10px;
    }
    .slider .btns {
        top: 380px;
        text-align: center;
        right: 10%;

    }
}
@media (max-width: 395px) {
    .slider .btns{
        top: 300px;
    }
    .sep .btn:before, .sep .btn:after{
        display: none;
    }
}
@media (max-width: 992px){
    .row>.form-group {
        padding-left: 0!important;
        padding-right: 0!important;
    }
}
.and {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;

}
body{
    /*overflow-x: hidden;*/
}
.bordered img{
    border: 5px solid #303030;
}
.min img{
    width: 120px;
}
.rounded img {
    border-radius: 100%;
    -webkit-filter: grayscale(0.7);
    -moz-filter: grayscale(0.7);
    filter: grayscale(0.7);

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 999;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}
.rounded img:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
}

section.container h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #303030;
    font-size: 27px;
    margin: 50px auto;
    font-weight: bold;
}
#map {
    margin-top: 124px;
    height: 300px;

}
.container{
    visibility: hidden;
}
::selection, -moz-::selection{
    background-color: #333;
    color: #EEE;
}

a.current{
    color: #01bdf2;
}

@media(max-width: 1200px){

    .lang-fr #menu .nav>li>a {
        padding: 10px 12px;
        font-size: 15px;
        letter-spacing: 0px;
    }

}