body{
	font-family: 'Open Sans Condensed', sans-serif;
}
.myphoto {
	width: 200px;
	border: 5px solid #2784EE;
	border-radius: 10px;
	height: 210px;
	background-color: rgb(39, 132, 238);
}
.myphoto .img{
	background-image: url(img/me.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	height: 100%;
	border-radius: 5px;
}

/*
.header:hover .myphoto {
	background-image: url(img/me2.jpg);
}*/
.page {
	padding-top: 50px;
}
.header{
	position: relative;
}
.header .header-bar {
	background-color: #2784EE;
	width: 50%;
	height: 140px;
	position: absolute;
	
}
.header-bar.left-bar{
	left: 0;
	bottom: -20px;
}
.header-bar.right-bar{
	right: 0;
	bottom: 30px;;
}
.right-bar.header-bar:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 0 162px 98px;
	border-color: transparent transparent #0036A1 transparent;
	position: absolute;
	top: 14px;
	left: -50px;
	transform: rotate(329deg) ;
	-moz-transform: rotate(329deg) ;
	-o-transform: rotate(329deg) ;
	-ms-transform: rotate(329deg) ;
	-webkit-transform: rotate(329deg);
}
.left-bar.header-bar:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 162px 98px 0;
	border-color: transparent transparent #0036A1 transparent;
	position: absolute;
	top: -4px;
	right: -81px;
	transform: rotate(419deg) ;
	-moz-transform: rotate(419deg) ;
	-o-transform: rotate(419deg) ;
	-ms-transform: rotate(419deg) ;
	-webkit-transform: rotate(419deg);
}
.profil-title {
	margin-top: 110px;
	font-family: 'Open Sans', sans-serif;
}
.profil-title h1{
	color: #FFF;
	font-weight: bold;
	font-size: 30px;
	
}

.profil-title h2{
	color: #B8D9FF;
	font-size: 20px;
	
}
.body{
	padding-top: 100px;
}
.content .title{
	font-family: 'Open Sans', sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	color: #2785FF;
	font-size: 27px;
	margin-bottom: 30px;
}
.sidebar{
	background-color: #2784EE;;
}
.sidebar:after{
	content: "";
	background-color: inherit;
	width: 80%;
	height: 40px;
	position: absolute;
	top: -40px;
	right: 0;
}
.sidebar:before{
	content: "";
	position: absolute;
	top: -40px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 40px 99px;
	border-color: transparent transparent rgb(39, 132, 238) transparent;
}
p{
	font-family: 'Lato', sans-serif;
}
.field-group p{
	font-size: 18px;
}
.field strong{
	text-transform: capitalize;
	font-size: 20px;
}
.field span{
	text-transform: capitalize;
	font-size: 18px;
}



.field h4{
	font-family: 'Lato', sans-serif;
}
.field-group{
	margin-bottom: 50px;
}
.progress-bar-group strong{
	text-transform: capitalize;
	font-size: 20px;
}

.progress-bar-field h5{
	color: #2784EE;
	text-transform: capitalize;
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
}
.progress-bar-container{
	border: 1px solid #47B6FD;
	height: 15px;
	margin-top: 13px;
}
.progress-bar{
	height: 20px;
}
.progress-bar-container .progress-bar{
	background: #47B6FD;
}
.progress-bar-field .col-md-6{
}
.progress-bar-field{
	/*border: 1px solid;*/
}
.title-field{
	padding: 7px 0;
	display: inline-block;
}
.sidebar .title {
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  color: #E9EFEF;
  font-size: 26px;
  margin-bottom: 33px;
}
.sidebar-field span{
	font-size: 22px;
	color: #E9EFEF;
	font-family: 'Open Sans', sans-serif;
}
.sidebar-field{
	margin-bottom: 6px;
}
.sidebar-field-group{
	margin-bottom: 50px;
}
.sidebar-field strong, .sidebar-list1-field{
	font-size: 21px;
	letter-spacing: 1.5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}
.sidebar-list1-field .fa-circle{
	margin-right: 10px;
}
.sidebar-list1-field{
	margin-bottom: 10px;
	color: #E9EFEF;
}
.page{
	background-image: url(img/bg.jpg);
}
.content .title .icon {
  background-color: rgb(39, 132, 238);
}
.sidebar .title .icon {
  background-color: #e6e6e5;
}

.title .icon{
	height: 56px;
	width: 56px;
	display: inline-block;
	margin-right: 20px;
	position: relative;
	bottom: -18px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 38px;
}
.obj .icon {
  background-image: url(img/icon7.png);
}
.edu .icon {
  background-image: url(img/icon8.png);
}
.exp .icon {
  background-image: url(img/icon6.png);
}
.skill .icon {
  background-image: url(img/icon5.png);
}
.info .icon {
  background-image: url(img/icon1.png);
}
.hobby .icon {
  background-image: url(img/icon2.png);
}
.certif .icon {
  background-image: url(img/icon3.png);
}
.network .icon {
  background-image: url(img/icon9.png);
}
.contact .icon {
  background-image: url(img/icon4.png);
}


.sidebar-list2-field strong{
	font-size: 21px;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
	color: #E9EFEF;
	letter-spacing: 1.5px;
	margin-bottom: 10px;
	display: block;
}
.sidebar-list2-field{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
}
.sidebar-field strong{
	color: #DDDDDB;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sidebar-list1-field strong{
	font-weight: 100;
}
.sidebar-list2-field span{
	font-size: 16px;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
	color: #DDDDDB;
	display: block;
}
.page.container{
	box-shadow: 0px 0px 7px -1px #737373;
	margin-top: 40px;
	margin-bottom: 40px;
}
@media (max-width: 1200px) {
	.sidebar:before {
		border-width: 0 0 40px 81px;
	}
	.left-bar.header-bar:after {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 162px 98px 0;
		border-color: transparent transparent #0036A1 transparent;
		position: absolute;
		top: -4px;
		right: -81px;
		transform: rotate(329deg);
		-moz-transform: rotate(329deg);
		-o-transform: rotate(329deg);
		-ms-transform: rotate(329deg);
		-webkit-transform: rotate(419deg);
	}
	.right-bar.header-bar:after {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 0 162px 98px;
		border-color: transparent transparent #0036A1 transparent;
		position: absolute;
		top: 14px;
		left: -50px;
		transform: rotate(329deg);
		-moz-transform: rotate(329deg);
		-o-transform: rotate(329deg);
		-ms-transform: rotate(329deg);
		-webkit-transform: rotate(329deg);
	}
	.header .header-bar {
		background-color: #2784EE;
		width: 50%;
		height: 140px;
		position: absolute;
	}
	.header-bar.left-bar {
		left: 0;
		bottom: -20px;
	}
}
@media (max-width: 991px) {
	.sidebar:before {
		border-width: 0 0 40px 150px;
	}
	.sidebar{
	  margin-top: 120px;
	}
	.left-bar.header-bar:after {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 70px 70px 0;
		border-color: transparent transparent #0036A1 transparent;
		position: absolute;
		top: 230px;
		right: auto;
		transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
		-ms-transform: rotate(0);
		-webkit-transform: rotate(0);
	}
	.right-bar.header-bar:after {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 70px 70px 70px;
		border-color: transparent #0036A1 transparent transparent;
		position: absolute;
		top: 0;
		right: 0;
		left: auto;

		transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
		-ms-transform: rotate(0);
		-webkit-transform: rotate(0deg);
	}
	.header .header-bar {
		background-color: #2784EE;
		width: 50%;
		height: 300px;
		position: absolute;
	}
	.header-bar.left-bar {
		bottom: -20px;
	}
	.header-bar.right-bar {
	  right: 0;
	  bottom: -20px;
	}
}
@media (max-width: 600px) {
	.sidebar:before {
	  border-width: 0 0 40px 116px;
	}
	}
a{
	color: inherit!important;
}
.mywebsite ul{
	list-style: none;
	margin-top: 60px;
}
.mywebsite ul:after{
	content: " ";
	clear: both;
	display: table;
}
.mywebsite h2{
	padding-left: 80px;
	letter-spacing: 10px;
	font-size: 20px;
	color: #B8D9FF;
	margin-top: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.mywebsite ul li:after{
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 16px 0px 0px;
		border-color: rgba(39, 132, 238, 1) transparent transparent transparent;
		position: absolute;
		left: 0;
		top: 0;
		
}

ul.lang li a:hover{
	text-decoration: none;
}
.mywebsite ul li a{
	display: block;
	padding: 7px 10px;
}
.mywebsite ul li{
	background-color: rgb(236, 235, 230);
	color: rgb(39, 132, 238);
	margin-left: 10px;
	letter-spacing: 2px;
	font-weight: bold;
	position: relative;
}

ul.lang li{
	float: right;
	font-family: 'Open Sans', sans-serif;
}

.mywebsite ul li:hover, .mywebsite ul li.current{
	color: rgb(236, 235, 230);
	background-color: rgb(116, 181, 255);
}
/**************************** 90% **********************************/
@keyframes w_ninety {
    from {width: 0%;}
    to {width: 90%;}
}
@-webkit-keyframes w_ninety {
    from {width: 0%;}
    to {width: 90%;}
}
.w_ninety{
    width: 0%;
    -webkit-animation-name: w_ninety ; /* Chrome, Safari, Opera */ 
    animation-name: w_ninety ;
}
/**************************** 95% **********************************/
@keyframes w_ninety_five {
    from {width: 0%;}
    to {width: 95%;}
}
@-webkit-keyframes w_ninety_five {
    from {width: 0%;}
    to {width: 95%;}
}
.w_ninety_five{
    width: 0%;
    -webkit-animation-name: w_ninety_five ; /* Chrome, Safari, Opera */ 
    animation-name: w_ninety_five ;
}
/**************************** 50% **********************************/
@keyframes w_fifty {
    from {width: 0%;}
    to {width: 50%;}
}
@-webkit-keyframes w_fifty {
    from {width: 0%;}
    to {width: 50%;}
}
.w_fifty{
    width: 0%;
    -webkit-animation-name: w_fifty ; /* Chrome, Safari, Opera */ 
    animation-name: w_fifty ;
}
/**************************** 70% **********************************/
@keyframes w_seventy {
    from {width: 0%;}
    to {width: 70%;}
}
@-webkit-keyframes w_seventy {
    from {width: 0%;}
    to {width: 70%;}
}
.w_seventy{
    width: 0%;
    -webkit-animation-name: w_seventy ; /* Chrome, Safari, Opera */ 
    animation-name: w_seventy ;
}
/**************************** 60% **********************************/
@keyframes w_sixty {
    from {width: 0%;}
    to {width: 60%;}
}
@-webkit-keyframes w_sixty {
    from {width: 0%;}
    to {width: 60%;}
}
.w_sixty{
    width: 0%;
    -webkit-animation-name: w_sixty ; /* Chrome, Safari, Opera */ 
    animation-name: w_sixty ;
}

/**************************** 80% **********************************/
@keyframes w_eighty {
    from {width: 0%;}
    to {width: 80%;}
}
@-webkit-keyframes w_eighty {
    from {width: 0%;}
    to {width: 80%;}
}
.w_eighty{
    width: 0%;
    -webkit-animation-name: w_eighty ; /* Chrome, Safari, Opera */ 
    animation-name: w_eighty ;
}
/**************************** 40% **********************************/
@keyframes w_forty {
    from {width: 0%;}
    to {width: 40%;}
}
@-webkit-keyframes w_forty {
    from {width: 0%;}
    to {width: 40%;}
}
.w_forty{
    width: 0%;
    -webkit-animation-name: w_forty ; /* Chrome, Safari, Opera */ 
    animation-name: w_forty ;
}

.wow{
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

::-moz-selection { 
    color: rgb(236, 235, 230); 
    background: rgb(39, 132, 238);
}

::selection {
    color: rgb(236, 235, 230); 
    background: rgb(39, 132, 238);
}
.left-menu li{
	font-size: 20px;
	float: left;
}
ul.left-menu{
	padding-left: 80px;
}

.mywebsite .left-menu li a{
	padding: 3px 10px;
}